:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}
.rectangle {
  bottom: 13px;
  position: relative;
  width: 170px;
  height: 110vh;
  background: #26252D;
  
}
.acbd {
  top: 20px;
  position: relative;
  width: 130px;
  height: 110px;
  margin: auto;
  background: url(/image/logo.jpeg)
    no-repeat center;
  background-size: cover;
  
}
.ellipse {
  top: 40px;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  background: url(/image/OIP.jpeg)
    no-repeat center;
  background-size: cover;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255);
  cursor: pointer;
}
.enlaces {
  margin-left: 20px;
  list-style-type:none ;
  margin-top: 50px;

}

.enlaces li{
  margin-top: 50px;
}
.enlaces a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

a img{
  position: absolute;
  width: 40px;
  margin-bottom: 50px;
  transition: transform 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}

a img:hover {
  transform: scale(1.1);
  filter: invert(50%);
  
}
/*---------------------------Comienza el estilo del menu principal---------------*/


.containerr {
  position: absolute;
  width: 969px;
  height: 57px;
  top: 36px;
  left: 390px;
  background: #ffffff;
  
  z-index: 20;
  border-radius: 10px;
}
.search-form {
  display: flex;
  align-items: center;
  
}
.search-input {

  flex: 1;
  padding: 17px;
  border: 1px solid black;
  margin-left: 180px;
}

.search-button {
  padding: 18px;
  background-color: #26252D;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}
.search-button:hover{
  background-color: rgba(0, 0, 0, 0.7); /* Negro con 50% de opacidad */

}
/*---------------FIN DEL BUSCADOR --------------------------*/
.rectangle-3 {
  text-align: center;
  color: white;
  position: absolute;
  width: 185px;
  height: 58px;
  margin-top: -1px;
  left: -1px;
  background: #26252D;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
}

.rectangle-6 .xbox-cross {
  position: absolute;
  width: 40px;
  height: 45px;
  top: 1px;
  left: 93%;
  background: url(/images/a878f1e59f9249b88d5dab5966161f5afca3ecd3.png)
    no-repeat center;
  background-size: contain;
  z-index: 46;
  transition: transform 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
.rectangle-6 .xbox-cross:hover{
    transform: scale(1.1);
    filter: invert(50%);
    
}

/*INICIO DE LA CAJA DE LA LISTA DE DOCUMENTOS*/
.caja {
  position: absolute;
  width: 969px;
  height: 530px;
  top: 115px;
  left: 390px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 17;
  overflow: auto;
}


.rectangle-6 {
  position: absolute;
  width: 969px;
  height: 50px;
  top: 115px;
  left: 390px;
  background: #26252d;
  border: 1px solid #000000;
  z-index: 29;
}

.contratos {
  display: flex;
  position: absolute;
  top: 7px;
  left: 352px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
  z-index: 35;
}

.rectangle-8 {
  position: absolute;
  width: 969px;
  height: 45px;
  top: 76px;
  left: -1px;
  background: #ebebeb;
  border: 1px solid #000000;
  z-index: 21;
}

.line-9 {
  position: absolute;
  width: 1px;
  height: 45px;
  top: -1px;
  left: 44px;
  background: url(/images/a111f35a-9cd3-4df6-ac5b-1898fbe224e5.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.menu-vertical {
  position: absolute;
  width: 40px;
  height: 45px;
  top: -1px;
  left: 95%;;
  background: url(/images/MenuVertical.png)
    no-repeat center;
  background-size: contain;
  z-index: 71;
  transition: transform 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
.menu-vertical:hover{
  transform: scale(1.1);
  filter: invert(50%);   

}

.tipo-contrato {
  position: absolute;
  height: 29px;
  top: 10px;
  left: 113px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  z-index: 47;
  cursor: pointer;
}
.tipo-contrato:hover{
  color: blue;
  border-bottom: 1px solid blue;
}
.date {
  position: absolute;
  height: 29px;
  top: 10px;
  left: 378px;
  color: #000000;
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  z-index: 79;
}
.number {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  z-index: 55;
}
/*FIN DE LA CAJA DE LISTA DE DOCUMENTOS */
.submenus {
  display: flex;
  position: absolute;
  left: 200px;
  top: 40px;
  height: 39px;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;

}

.menus{
  position: absolute;
  width: 180px;
  height: 530px;
  top: 80px;
  left: 180px;
  list-style-type: none;
  border: 1px solid #000000;
  overflow: auto;
}

.menus li {
  margin-top: 10px;
  margin-left: -20px;
}

.menus li a{
  color: #26252D;
  text-decoration: none;
  font-size: 20px;
}
.menus li a:hover{
  color: blue;
  border-bottom: 1px solid blue;

}